<a href="https://colab.research.google.com/github/sxbast1an/PROGCOM-A/blob/main/clase3_estructuras_de_repeticion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#esctructuras de repeticion
permite repetir una o mas acciones deacuerdo con una condicion (mientras se cumpla la condicion)

##estructura para - for


1.   cuando se sabe cuantas veces se repite una accion.
2.   esta conformado por una condicion inicial (CI) una condicion final (CF) y pasos  ( frecuencia de repeticon)
3.   esta estructura no se detendra, hasta alcanzar CF-1

Estructura general del for
```
for (variable) in range (CI, CF+1 PASO):
  Se repite (CF+1-CI)/ paso veces una accion
```
Estrcutura resultada del for

```
se repite contidad de veces una accion
```

estructura for como iteracion
1.   El para (FOR) itera el valor de cada elemento de la lista por interacion
```
LISTA= [1,2,3,4,5]
for (variable) in lista:
  Se repite len(lista)
```

In [ ]:
#hacer la tabla de multiplicar de un numero n
n=int(input("digite un numero"))

digite un numero7

In [ ]:
print (f"tabla del  {n}")
for holitas in range (1,11,1):
  print(f"{n} x {holitas} = {n*holitas}")

tabla del  7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
#tablas de multiplicar del 1 al 10

for n in range(1, 11):
  print(f"/ntabla del {n}")
  for holitas in range(1, 11):
    print(f"{n} x {holitas} = {n * holitas}")
  print("")

/ntabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

/ntabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

/ntabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

/ntabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

/ntabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

/ntabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

/ntabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

/ntabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

/ntabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

/ntabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
numeros=[ 1,2,3,4,5,6,7,8,9.10]
for num in numeros:
    print(f"{n} x {num} = {n*num}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9.1 = 91.0

##listas
1.   es un tipo de datos
2.   todos los elementos de una lista,**deben** separarse por coma
3.   forma canonica para declarar una lista


```
(variable)
```
ejemplo:
flores=["amapola" ,"tulipan", "lengua de suegra", dahlia, rosa]

In [ ]:
dahila=3 #variable de tipo numerica, int
rosa="cinco"#variable de tipo alfanumerico, str
flores=["amapola", "tulipan", "lengua de suegra", dahila, rosa]

4. manual

```
lista2=[dato1, dato2, dato3...datoN]

```
5. siempre son finitas
6. son indexada
```
listas2=[dato1, dato2, dato3...datoN]

```

dato1 esta en el index 0
dato 2 esta ubicado en el index 1
7. estructura **para** para la creacion de listas
creacion de listas

```
#ejemplo: crear una lista de 5 elementos

lista=[]#para que el programa sepa que es una lista

for loquesea in range(5):
```

In [3]:
lista=[]
for loquesea in range (5):
    lista=input("ingrese el nombre de una flor")

ingrese el nombre de una flor rosa
ingrese el nombre de una flor lengua de suegra
ingrese el nombre de una flor siete cueros
ingrese el nombre de una flortulipan
ingrese el nombre de una flormargarita

In [14]:
lista=[]
for loquesea in range (5):
    lista.append(loquesea)

In [15]:
lista

[0, 1, 2, 3, 4]

In [16]:
loquesea

4

In [20]:
type(lista)

list

1.

In [23]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
numeros = list(range(1, 11))
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.

In [25]:
suma = 0
for i in range(1, 101):
    suma += i
print("Suma:", suma)

Suma: 5050

In [26]:
suma = sum(list(range(1, 101)))
print("Suma:", suma)

Suma: 5050

3.

In [27]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [28]:
multiplos = [i for i in range(1, 31) if i % 3 == 0]
print(multiplos)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

4.

In [29]:
n = int(input("Ingresa un número: "))
for i in range(1, 11):
    print(f"{n} x {i} = {n*i}")

Ingresa un número: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [30]:
n = int(input("Ingresa un número: "))
tabla = [f"{n} x {i} = {n*i}" for i in range(1, 11)]
print("\n".join(tabla))

Ingresa un número: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

5.

In [33]:
suma = 0
for i in range(5):
    numero = float(input(f"Ingrese número {i+1}: "))
    suma += numero
promedio = suma / 5
print("Promedio:", promedio)

Ingrese número 1: 4
Ingrese número 2: 7
Ingrese número 3: 5
Ingrese número 4: 4
Ingrese número 5: 2
Promedio: 4.4

In [34]:
numeros = [float(input(f"Ingrese número {i+1}: ")) for i in range(5)]
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

Ingrese número 1: 2
Ingrese número 2: 5
Ingrese número 3: 8
Ingrese número 4: 9
Ingrese número 5: 4
Promedio: 5.6

6.

In [35]:
n = int(input("Ingresa un número: "))
contador = 0
for i in range(1, n+1):
    if i % 2 == 0:
        contador += 1
print("Cantidad de pares:", contador)

Ingresa un número: 5
Cantidad de pares: 2

In [36]:
n = int(input("Ingresa un número: "))
pares = [i for i in range(1, n+1) if i % 2 == 0]
print("Cantidad de pares:", len(pares))

Ingresa un número: 4
Cantidad de pares: 2

8.

In [38]:
n = int(input("¿Cuántos números de Fibonacci? "))
a, b = 0, 1
for _ in range(n):
    print(a)
    a, b = b, a + b

¿Cuántos números de Fibonacci? 5
0
1
1
2
3

In [42]:
n = int(input("¿Cuántos números de Fibonacci? "))
fibonacci = [0, 1]
for i in range(2, n):
    fibonacci.append(fibonacci[-1] + fibonacci[-2])
print(fibonacci[:n])

¿Cuántos números de Fibonacci? 6
[0, 1, 1, 2, 3, 5]